@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");

  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");

  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #f2f2f2;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  text-align: center;
  text-decoration: none;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.navigation-item .button {
  font-size: 16px;
  line-height: 20px;
}

.main-index {
  background-color: #ffffff;
}

.block-text-center-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.block-text-center-description {
  text-align: center;
}

.advantages-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.main-advantages {
  background-color: #82b3d3;
}

.main-advantages-title {
  color: #ffffff;
}

.advantages-item-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.main-advantages-description {
  color: #ffffff;
}

.services-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.services-item-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.call-to-action-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.call-to-action-description {
  text-align: center;
}

.subscribe-to-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.subscribe-to-title-main {
  color: #ffffff;
}

.subscribe-to-description {
  text-align: center;
}

.subscribe-to-description-main {
  color: #ffffff;
}

.field {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #f2f2f2;
}

.subscribe-button {
  background-color: #82b3d3;
}

.contacts-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.control {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.filter-button {
  background-color: #82b3d3;
  font-size: 16px;
  line-height: 20px;
}

.reset-button {
  background-color: transparent;
  font-size: 16px;
  line-height: 20px;
}

.catalog-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.select-control {
  font-family: inherit;
  background-color: #ffffff;
  color: #333333;
  font-size: 18px;
  line-height: 21px;
}

.accommodation-card-link {
  text-decoration: none;
}

.accommodation-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.accommodation-card-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.accommodation-card-price {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.card-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.button-more {
  font-size: 16px;
  line-height: 20px;
}

.button-wishlist {
  background-color: #82b3d3;
  font-size: 16px;
  line-height: 20px;
}

.button-wishlist-added {
  background-color: #7db54f;
  font-size: 16px;
  line-height: 20px;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.hero {
  background-image: url("../images/index-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #82b3d3;
}

.block-with-picture {
  background-color: #82b3d3;
}

.advantages-item-1,
.advantages-item-3 {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-2 {
  background-color: rgba(131, 179, 211, 0.2);
}

.services-item-1,
.services-item-3 {
  background-color: rgba(131, 179, 211, 0.12);
}

.subscribe-to-letters-main {
  background-image: url("../images/subscribe-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #82b3d3;
}

.inner-header {
  background-image: url("../images/inner-page-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #82b3d3;
}

.page-header {
  background-color: #ffffff;
}

.main-inner {
  background-color: #ffffff;
}

.page-footer {
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  margin: 0 auto;
  width: 1200px;
}

.navigation {
  display: grid;
  grid-template-columns: 140px 1fr;
  column-gap: 30px;
  width: 1060px;
  padding-left: 70px;
  padding-right: 70px;
  align-items: center;
}

.logo {
  display: block;
}

.container-lists {
  display: flex;
  justify-content: space-between;
}

.navigation-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
}

.navigation-link {
  display: block;
  margin: 0;
  padding: 20px 16px;
}

.navigation-user {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
}

.navigation-item .button {
  width: 160px;
  padding: 8px 34px;
}

.hero {
  margin: 0;
  padding: 51px 371px 82px;
}

.block-text-center {
  margin: 0;
  padding: 69px 290px;
}

.main-advantages {
  display: flex;
  margin: 0;
  padding: 0;
}

.main-advantages-text {
  width: 400px;
  padding: 100px 85px;
  box-sizing: border-box;
}

.advantage-img {
  display: block;
  width: 800px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.advantages-item {
  width: 400px;
  padding: 112.5px 85px;
  box-sizing: border-box;
}

.services-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.services-item {
  width: 400px;
  padding: 81px 85px;
  box-sizing: border-box;
}

.call-to-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 592px;
  padding: 96px 304px;
}

.call-to-action .button {
  padding: 8px 50px;
}

.subscribe-to-letters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 684px;
  padding: 96px 258px 104px;
}

.subscribe {
  display: flex;
}

.subscribe .field {
  width: 452px;
  height: 52px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  box-sizing: border-box;
}

.subscribe-button {
  display: block;
  width: 232px;
  height: 52px;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px;
  align-items: center;
}

.footer-socials {
  width: 180px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.social-item {
  width: 48px;
  height: 40px;
}

.contacts-phone {
  margin: 0;
  padding: 0;
  width: 335px;
}

.html-academy-logo {
  margin: 0;
  padding: 0;
  width: 115px;
  align-self: center;
}

.inner-header {
  padding: 35px 70px 70px;
  margin-bottom: 50px;
}

.inner-header-title {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 70px;
  list-style-type: none;
  margin-bottom: 40px;
}

.sorting-container {
  display: flex;
  width: 1060px;
}

.sorting-left-column {
  min-width: 151px;
  margin: 0;
  padding: 0;
  margin-right: 70px;
}

.sorting-middle-column {
  min-width: 151px;
  margin: 0;
  padding: 0;
  margin-right: 140.15px;
}

.sorting-right-column {
  width: 549px;
  margin: 0;
  padding: 0;
  display: flex;
}

.sorting-price {
  width: 288px;
  margin: 0;
  padding: 0;
  margin-right: 70px;
}

.price-filter {
  margin: 0;
  padding: 0;
  display: flex;
}

.price-filter .field {
  width: 143px;
  height: 48px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  box-sizing: border-box;
}

.sorting-buttons {
  width: 191px;
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.filter-button {
  margin-bottom: 32px;
  padding: 8px 50px;
}

.reset-button {
  padding: 8px 50px;
}

.catalog-filter-title {
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 151px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.control {
  display: flex;
  align-items: center;
  gap: 16px;
}

.container-filter {
  display: flex;
  align-items: center;
  width: 1060px;
  padding: 50px 70px 40px;
}

.catalog-title {
  margin: 0;
  padding: 0;
  min-width: 338px;
  margin-right: 200px;
}

.select-control {
  height: 49px;
  width: 292px;
  margin-right: 70px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  box-sizing: border-box;
}

.view-type {
  display: flex;
  margin: 0;
  padding: 0;
  min-width: 160px;
  flex-wrap: wrap;
  list-style-type: none;
}

.view-option {
  width: 48px;
  justify-content: space-between;
  gap: 8px;
}

.container-filter {
  margin-bottom: 40px;
}

.accommodation-card-description-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.accommodation-card-buttons-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.accommodation-card-rating-container {
  display: flex;
  justify-content: space-between;
}

.accommodation-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  margin: 0;
  gap: 20px;
  padding: 40px 70px 20px;
  list-style-type: none;
}

.accommodation-card {
  width: 340px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.accommodation-img {
  display: block;
  margin-bottom: 16px;
}

.accommodation-card-title {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.accommodation-card-description {
  margin: 0;
  padding: 0;
}

.accommodation-card-price {
  margin: 0;
  padding: 0;
}

.stars {
  margin: 0;
  padding: 0;
}

.card-rating {
  margin: 0;
  padding: 0;
}

.button-more {
  display: block;
  width: 140px;
  padding: 8px 26px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
}

.button-wishlist {
  display: block;
  width: 140px;
  padding: 8px 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
}

.button-wishlist-added {
  display: block;
  width: 140px;
  padding: 8px 18px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  padding: 40px 70px 60px;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  padding: 12px 18px;
  box-sizing: border-box;
}

.pagination-more {
  display: block;
  width: 60px;
  margin-right: 8px;
  padding: 17px 20px;
  box-sizing: border-box;
}

.pagination-item:last-child {
  margin-right: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
